.c-contact-info__worktime--have-tooltip {
	font-size: 0.875em;
}
.c-contact-info__worktime-link {
	color: rgba(236,30,121,0.7);
	font-family: 'Open Sans', sans-serif;
	text-decoration: underline;
	position: relative;
	transition: color 0.3s;
}
.c-contact-info__worktime-tooltip {
	position: absolute;
	right: 0;
	top: 2.0625rem;
	width: 10.25rem;
	height: 4.375rem;
	background-color: #fff;
	border-radius: 0.1875rem;
	box-shadow: 0 0 0.625rem 0 rgba(23, 59, 117, 0.55);
	transition: visibility 1s;
	z-index: 10;
	
}
.c-contact-info__worktime-inner {
	text-align: left;
	height: 100%; 
	padding-left: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 1;
}
.c-contact-info__worktime-tooltip:after {
	content: "";
	display: block;
	position: absolute;
	right: 0.3125rem;
    top: -0.5625rem;
    width: 1.125rem;
    height: 1.125rem;
	transform: rotate(45deg);
	background-color: inherit;
	box-shadow: -0.1875rem -0.1875rem 0.1875rem 0 rgba(23, 59, 117, 0.35);
	z-index: 9;
}
.c-contact-info__worktime-tooltip:before {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	top: -1.25rem;
	height: 1.25rem;
}
.c-contact-info__worktime-open {
	color: #ec1e79;
	max-height: 50%;
	overflow: hidden;
}
.c-contact-info__worktime-close {
	font-weight: 300;
	color: #221f1f;
	max-height: 50%;
	overflow: hidden;
}
.c-contact-info__worktime-link:hover {
	color: rgba(93,209,249,0.7);
}
.c-contact-info__worktime-link:hover .c-contact-info__worktime-tooltip {
	visibility: visible;
}